.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 30px;
    z-index: 1;
    /* Transitions  */
    /* for all transitions ease in  */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__black{
    background-color: #111;

}
/* .nav__logo__my{
    position: fixed;
    left: 20px;
    object-fit: contain;
    width: 68px;
    filter: invert(55%);
} */
.nav__logo__netflix{
    position: fixed;
    /* left: 95px; */
    left: 20px;
    /* top: 22px; */
    object-fit: contain;
    width: 98px;
    /* height: 15px; */
}
.nav__avatar{
    position: fixed;
    right: 20px;
    object-fit: contain;
    width: 35px;
    /* height: 15px; */
    border-radius: 4px;
}