.row {
  margin-left: 20px;
  color: white;
}
.row__poster {
  object-fit: contain; /* handles aspect-ratio */
  width: 100%;
  max-height: 135px;
  transition: transform 450ms;
  margin-right: 10px;
  border-radius: 5px;
}
/* transform (scale) used with transition effect */
.row__poster:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.row__posters {
  display: flex;
  /* so that we don't see the whole screen moving horizontally when loading more movies of a particular section */
  overflow-x: scroll;
  /* so that we can see the size grow in y-direction when someone hovers over a poster */
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster_isVertical {
  max-height: 300px;
}
.row__poster:hover {
  transform: scale(1.1);
}
